<form
    action="{{ path('bitbag_sylius_mailchimp_plugin_newsletter_subscribe') }}"
    method="POST"
    id="footer-newsletter-form"
    class="ui form grid"
>
    <div class="success-element ui text container"></div>
    <div class="validation-element ui text container"></div>

    <div class="field row" style="display: flex; flex-wrap: nowrap; gap: 1rem;">
        <input
            type="text"
            id="newsletter-email" name="email"
            placeholder="{{ 'bitbag_sylius_mailchimp_plugin.ui.your_email_address'|trans }}"
            class="fluid"
        />

        <input
            type="hidden"
            id="newsletter-token"
            name="_token"
            value="{{ csrf_token('newsletter') }}"
        >

        <button
            title="{{ 'bitbag_sylius_mailchimp_plugin.ui.subscribe' }}"
            type="submit"
            class="ui button"
        >
            {{ 'bitbag_sylius_mailchimp_plugin.ui.subscribe'|trans }}
        </button>
    </div>
</form>
